textarea {
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type='file'] {
  display: none;
}

.header {
  padding-left: 30px;
}

.save-changes {
  text-align: center;
  margin-top: 15px;
}

.panel {
  border: none;
  margin-top: 100px; 
}

.file-image {
  margin: 20px 0 20px;
} 

.option {
  margin: 15px 0 15px;
}

.question-list {
  max-height: 500px;
  overflow-x: overlay;
}


.gravatar {
  border-radius: 60%;
  width: 80px;
  height: 80px;
  padding: 20px;
  background: #fff;
  border: 3px solid #666;
  color: #666;
  text-align: center;
  font: 32px Arial, sans-serif;

}

.delete-image {
  margin-right: 20px;
}

.header-title {
  color: white;
  margin: 15px 0 0 15px; 
}

pre {
  tab-size: 8;
}

.navbar-inverse {
  background-color: gray;
  background-image: none;
  border-color: #ddd;
}
.navbar-inverse .navbar-toggle, .navbar-collapse {
  border-color: #ddd !important;
    
}
.navbar-nav>li>a:hover {
  color: #333 !important;
}
.navbar-toggle, .navbar-toggle:hover {
  background-color:#bfbfbf !important;
  margin-left:20px;
}
 
@media screen and (max-width: 768px) {
  .side-collapse-container{
    width:100%;
    position:relative;
    left:0;
    transition:left .4s;
  }
  .side-collapse-container.out{
    left:200px;
    display: none;
  }
  .side-collapse {
    top:50px;
    bottom:0;
    left:0;
    width:70%;
    position:fixed;
    overflow:hidden;
    transition:width .4s;
  }

  .body-list {
    display: none;
  }

  .side-collapse.in {
    width:0;
  }
}

@media screen and (min-width: 767px) {
  .nav-list {
    display: none;
  }
}
